<nav id="nav__links" role="navigation">
	<div class="nav__links__inner-wrapper">
		<h2 class="accessibility-text">Menu</h2>
		<ul>
			<li><a href="/about" {% if page.url == "/about/" %} class="current" {% endif %} >About</a></li>
			<li><a href="/news" {%  if page.url == "/news/" %} class="current" {% endif %} >News</a></li>
			<li><a href="/exhibitions" {%  if page.url == "/exhibitions/" %} class="current" {% endif %} >Exhibitions</a></li>
			<li><a href="/gallery" {%  if page.url == "/gallery/" %} class="current" {% endif %} >Gallery</a></li>
			<li><a href="/contact" {%  if page.url == "/contact/" %} class="current" {% endif %} >Contact</a></li>
			<li><a href="/sales" {%  if page.url == "/sales/" %} class="current" {% endif %}>Sales</a></li>	
		</ul>
	</div>
</nav>
