<nav role="navigation" class="nav">
    <a class="accessibility-text" href="#main" title="Skip to primary content">Skip to primary content</a>
	
	<button class="hamburger hamburger--squeeze" aria-expanded="false" aria-controls="menu">

		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
		
	</button>
	<div class="container-nav__links">
		<ul class="nav__links" hidden>
			<li><a href="/about" {% if page.url == "/about/" %} class="current" {% endif %}>About</a></li>
			<li><a href="/exhibitions" {%  if page.url == "/exhibitions/" %} class="current" {% endif %}>Exhibitions</a></li>
			<li><a href="/gallery/" {%  if page.url == "/gallery/" %} class="current" {% endif %}>Gallery</a></li>
			<li><a href="/news" {%  if page.url == "/news/" %} class="current" {% endif %}>News</a></li>
		</ul>

		<ul class="secondary-nav__links" hidden>
			<li><a href="/contact" {%  if page.url == "/contact/" %} class="current" {% endif %} >Contact</a></li>
			<li><a href="/purchasing-procedure" {%  if page.url == "/purchasing-procedure/" %} class="current" {% endif %}>Sales</a></li>
		</ul>
  	</div>
</nav>