<div class="main">

	<h2 class="center txt-xlarge section-title">Latest Work</h2>

	<div id="aa_embed_latest-work" style="clear: both;"></div>
<script type="text/javascript">
  (function() {
    var d = document, s = d.createElement('script');
    s.type = "text/javascript"; s.async = true;
    s.src = "https://www.artworkarchive.com/profile/rob-pointon/collection/latest-work/embed_js.js";
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the artwork.</noscript>

	{% include partials/button.html align="center" linkURL="/gallery" linkCTA="View more in the gallery" secondarybutton="true" %}

</div><!--/main-->
