<div class="newsletter">
		<div class="newsletter__content">
		<h2>Newsletter</h2>
		<p>Get updates on Rob's travels, exhibitions and latest work...</p>
		<form action="" class="accessibility-text" autocomplete="on">
			<fieldset class="newsletter__fieldset" name="newsletter" action="newsletter-subscribe">
				<div class="newsletter__fieldcollection">
					<label for="fname">Firstname</label>
					<input type="text" id="fname" placeholder="Your first name" class="">
				</div>
				<div class="newsletter__fieldcollection">
					<label for="lname">Surname</label>
					<input type="text" id="lname" placeholder="Your surname" class="">
				</div>
				<div class="newsletter__fieldcollection">
					<label for="email">Email</label>
					<input type="text" id="email" type="email" placeholder="Your email" class="">
				</DIV>
			</fieldset>
			<button class="btn" type="submit">Subscribe</button>
		</form>

		<p class="">
	<a class="btn hollow" href="https://us11.list-manage.com/subscribe?u=07825164219f71fb5f62b17f5&amp;id=09cb7a485a">
		<span class="btn__text">Subscribe</span>
	</a>
</p>
		{% include partials/button.html  linkURL="https://us11.list-manage.com/subscribe?u=07825164219f71fb5f62b17f5&id=09cb7a485a" linkCTA="Subscribe" secondarybutton="true" %}
	</div>
</div>