<li>
	<div data-alt="View full size version of {{ painting.title }}" data-description="<h3>{{ painting.title }}</h3><a href=&quot;{{ painting.url }}&quot; class=&quot;gamma-link&quot;>View full post</a>" data-max-width="1300" data-max-height="1350">
		<div data-src="{{ painting.image }}" data-min-width="1300"></div>
		<div data-src="{{ painting.image }}" data-min-width="1000"></div>
		<div data-src="{{ painting.image }}" data-min-width="700"></div>
		<div data-src="{{ painting.image }}" data-min-width="300"></div>
		<div data-src="{{ painting.image }}" data-min-width="200"></div>
		<div data-src="{{ painting.image }}" data-min-width="140"></div>
		<div data-src="{{ painting.image }}"></div>
		<noscript>
			<img src="{{ painting.image }}" alt="View full size version of {{painting.title}}"/>
		</noscript>
	</div>
</li>