<!-- Open Graph -->
<meta property="og:title" content="{% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title | default: site.title }}{% endif %}">
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ page.content | strip_html | strip_newlines | truncate: 180 }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/static/social-media-avatar/Home-Rob-Pointon-ROI.jpg">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}">
<meta name="twitter:card" content="summary_large_image">