#nav__links {
	padding-top: 0em;
	color: $near-black;
	@include rem(font-size, 1.2rem);
	@include rem(line-height, 2.3rem);
	font-weight: 100;
	letter-spacing:2px;
	margin: 15px 0 10px;
}

@media #{$medium-and-up} {
	#nav__links { 
		margin: 25px 0 20px;
	}
}

.nav__links__inner-wrapper {
	margin: 0 auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;

}

#nav__links ul {
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
}

#nav__links li {
	display: inline-block;
}

#nav__links a { 
	color: $near-black;
	padding: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
}


#nav__links a:hover {
	border-bottom: 1px solid $near-black;
	padding-bottom: 2px;
	font-style: italic;
}

#nav__links a.current {
	border-bottom: 1px solid $near-black;
	padding-bottom: 2px;
	background-color: rgba(255,255,255,0.25);
	font-style: italic;
	font-weight: bold;

}