.footer {
	color: $white-color;
	background: $grey-color-dark;
}

.footer a { 
	color: $white-color;
}

.footer__title {
	border-bottom: 1px solid rgba(255,255,255,0.3);
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.footer__copyright {
	color: #666;
	text-align: center;
	@include rem(font-size, 1.2rem);
}

.footer__list li {
	list-style: none;
}