.sidebeside-hero-banner {
    max-width: 1136px;
    margin: 0 auto;
    background-color: rgba(155, 147, 158, .11)

}

.sidebeside-hero-banner p {
    padding-bottom: 1rem;
}

.sidebeside-hero-banner__information {
    float: right;
    padding: 5%;
}

.sidebeside-hero-banner__informationcontent{
	padding: 5%;
}

.sidebeside-hero-banner a:link, .sidebeside-hero-banner a:visited {
    color: #111;
}

.sidebeside-hero-banner__image {
    line-height: 0;
}


@media #{$small-and-down} {
	.col.sidebeside-hero-banner__image {
		padding: 0;
    }
}

@media #{$medium-only} {
	.col.sidebeside-hero-banner__image {
		padding: 3% 0 3% 3%;
    }
}

@media #{$large-and-up} {
	.col.sidebeside-hero-banner__image {
		padding: 0 .75rem 0 0;
    }
}