

.newsletter {
	background: $grey-color-light;
	padding: 6%;
	margin-top: 8rem;
}

.newsletter__content {
    text-align: center;
    max-width: 720px;
    width: auto;
    margin: 0 auto;
}

.newsletter p {
	margin-bottom: 1em;
}