.sidebeside-hero-banner {
    max-width: 1136px;
    margin: 0 auto;
    background-color: rgba(155, 147, 158, .11)

}

.sidebeside-hero-banner__information {
    float: right;
    padding: 5%;
}

.sidebeside-hero-banner__informationcontent{
	padding: 5%;
}

.sidebeside-hero-banner a:link, .sidebeside-hero-banner li a:visited {
    color: #111;
}

.sidebeside-hero-banner__image {
    
}