.logo {
	height: 76px;
	transition: 0.5s ease-in-out height;

}

.logo__link {
	max-width: 106px;
}

@media #{$small-and-down} {
	.logo {
	    height: 45px;
	}
}

@media #{$medium-and-up} {
	.logo { 
		margin-bottom: 20px;
	}
}