.loadmore {
	padding: 10px;
	background: #ddd;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	margin: 10px 4px;
	display: none;
}

.loadmore:hover {
	background: #333;
}