---
layout: default
---

{% include partials/slim-banner.html bgimage="exhibitions-listing-bg.jpg" %}

<div class="main">

{{ content }}

{% assign sorted = site.exhibitions | sort: 'date' | reverse  %}

{% for exhibitions in sorted limit: 1 %}

<div class="main-ehibition-listing">
  <div class="main-ehibition-listing__information">
      <h2 class="txt-xlarge">
        <a href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">{{ exhibitions.title }}</a>
      </h2>
      <p class="txt-small">{{ exhibitions.dateOfShow }}</p>
      <p>{% if exhibitions.description %}{{ exhibitions.description }}{% else %}{{ exhibitions.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      <a class="news-list__link" href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">Read more<span class="accessibility-text"> about {{ exhibitions.title }}</span></a>
      {% endfor %}
  </div>
  <div class="main-ehibition-listing__image">
    <img src="assets/img/uploads/website-banner-ffin-y-parc.jpg">
  </div>
</div>


  
<section class="content-wrapper news-list">
  <ul>
    <li>
  {% for exhibitions in sorted offset: 1 %}
  <li>
    <h2 class="txt-xlarge center">
      <a href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">{{ exhibitions.title }}</a>
    </h2>
      <p class="txt-small center">{{ exhibitions.dateOfShow }}</p>
      <p>{% if exhibitions.description %}{{ exhibitions.description }}{% else %}{{ exhibitions.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}</p>
      <p class="center"><a class="news-list__link" href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">Read more<span class="accessibility-text"> about {{ exhibitions.title }}</span></a></p>
  </li>
{% endfor %}
</ul>

</section>

</div>