---
layout: default
---

<h1 class="center txt-xlarge section-title">{{ page.title }}</h1>

<div class="main">

{{ content }}

{% assign sorted = site.exhibitions | sort: 'date' | reverse  %}

{% for exhibitions in sorted limit: 1 %}

<div class="main-ehibition-listing sidebeside-hero-banner row">
  <div class="sidebeside-hero-banner__information col s12 m7 l5 right">
    <div class="sidebeside-hero-banner__informationcontent">
      <h2 class="txt-xlarge">
        <a href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">{{ exhibitions.title }}</a>
      </h2>
      <p>{{ exhibitions.dateOfShow }}</p>
      <p>{{ exhibitions.locationName }}</p>
      <p>{% if exhibitions.description %}{{ exhibitions.description }}{% else %}{{ exhibitions.content | strip_html | strip_newlines | truncate: 220 }}{% endif %}</p>
      <a class="news-list__link" href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">Read more<span class="accessibility-text"> about {{ exhibitions.title }}</span></a>
    </div>
  </div>
  <div class="sidebeside-hero-banner__image col s12 m5 l7">
    <img src="{{ exhibitions.bannerImageLarge }}">
  </div>
</div>
{% endfor %}


  
<section class="exhibitions-list">
  <ul>
  {% for exhibitions in sorted offset: 1 %}
    <li class="row">
      <div class="col s12 m3 l3">
        <img src="{{ exhibitions.bannerImageSmall }}">
      </div>
      <div class="exhibitions-list__information col s12 m9 l9">
      <h2 class="txt-xlarge">
        <a href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">{{ exhibitions.title }}</a>
      </h2>
        <p class="txt-small">{{ exhibitions.dateOfShow }}</p>
        <p>{% if exhibitions.description %}{{ exhibitions.description }}{% else %}{{ exhibitions.content | strip_html | strip_newlines | truncate: 180 }}{% endif %}</p>
        <p class=""><a class="news-list__link" href="{{ exhibitions.url }}" title="{{ exhibitions.title }}">Read more<span class="accessibility-text"> about {{ exhibitions.title }}</span></a></p>
      </div>
    </li>
  {% endfor %}
  </ul>

</section>

</div>