---
layout: default
---
{% assign author = site.data.authors[page.author] %}

{% include partials/deep-banner.html bgimage="exhibition-example-bg.jpg" %}


<div class="exhibition__wrapper">
	<div class="row">
		<div class="col s12 m4 l4">
			<div class="exhibition__dateandtime">
				{% if page.dateOfShow and page.dateOfShow != '' %}
                    <div class="exhibition__dates">{{ page.dateOfShow }}</div>
                {% endif %}

                {% if page.openTimes and page.openTimes != '' %}
                    <div class="exhibition__opentimes">{{ page.openTimes }}</div>
                {% endif %}
			</div>
			<div class="exhibition__location">
				{% if page.locationName and page.locationName != '' %}
                    <div class="exhibition__locationname"><p>{{ page.locationName }}</p></div>
                {% endif %}

                {% if page.locationAddress and page.locationAddress != '' %}
                    <div class="exhibition__locationaddress">{{ page.locationAddress }}</div>
                {% endif %}

                {% if page.locationMapLink and page.locationMapLink != '' %}
                    <div class="exhibition__locationmap"><a href="{{ page.locationMapLink }}">View on Google Maps</a></div>
                {% endif %}
			</div>
			{% if page.addmissionDetail and page.addmissionDetail != '' %}
                <div class="exhibition__addmissiondetail">{{ page.addmissionDetail }}</div>
            {% endif %}
		</div>

		<div class="col s12 m8 l8">
			{{ content }}

		</div>
	</div>

	{% if page.gallery and page.gallery != '' %}
                <div id="viewcollection" class="row">
                	{{ page.gallery }}
                </div>
    {% endif %}	
</div>

{% if page.previous.url %}
<nav aria-label="Adjacent Posts" class="">
  <div class="upnext__container center">
    <div>
      <h2 class="txt-small brandfont">More Exhibitions</h2>
      <a href="{{page.previous.url}}" rel="prev" class="txt-xlarge brandfont">{{page.previous.title}}<br/><p class="txt-small center">{{ page.previous.dateOfShow }}</p><span class="txt-normal">Read more</span></a>
    </div>
  </div>
</nav>
{% endif %}